@model IEnumerable<Fiap_Hackathon.Models.ConsultaViewModel>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Médico - Sistema Hackathon</title>
    <link href="~/Content/geral.css" rel="stylesheet" /> <!-- Usando o mesmo CSS para manter o estilo -->
</head>
<body>
    <div class="login-container">
        <h1>Consultas Agendadas</h1>

        @if (Model != null && Model.Any())
        {
            <table class="consulta-grid">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Paciente</th>
                        <th>Local</th>
                        <th>Procedimento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var consulta in Model)
                    {
                        <tr>
                            <td>@consulta.Data.ToString("dd/MM/yyyy")</td>
                            <td>@consulta.Paciente</td>
                            <td>@consulta.Local</td>
                            <td>@consulta.Procedimento</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nenhuma consulta agendada.</p>
        }
    </div>
</body>
</html>
